{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
      <h1 style="position: absolute; top: 80 px; left: 100 px" >Getting Started with PHP on Heroku</h1>
    <p></p>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Caracteristicas de TankLevel</h3>
      <ul>
        <li>Mantener el llenado automatico de los tanques.</li>

        <li>Visualización en tiempo real del nivel del fluido.</li>
        <li>Controla el consumo de liquido.</li>
        <li>Monitorea desde cualquier dispositivo electrónico.</li>
      </ul>
    </div>
    
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

{% endblock %}
