{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
      <h1 style="position: absolute; top: 150px; left: 500px" >Getting Started with PHP on Heroku</h1>
    <p></p>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Caracteristicas de TankLevel</h3>
      <ul>
        <li>Mantener el llenado automatico de los tanques.</li>

        <li>Visualización en tiempo real del nivel del fluido.</li>
        <li>Controla el consumo de liquido.</li>
        <li>Monitorea desde cualquier dispositivo electrónico.</li>
      </ul>
    </div>
    
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Para mayor información contactar al soporte luis.yepesm@pca.edu.co
  </div>
</div>

{% endblock %}
